.container {
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  button {
	border: none;
	margin-top: 1rem;
	width: 200px;
	padding: 0.8rem 0.75rem;
	color: white;
	font-size: 15px;
	border-radius: 10px;
	background-color: black;
  }
  button:hover{
	transition: background-color 0.3s ease-in-out;
	background-color: white;
	color: black;
  }
  table {
	  width: 100%;
	  margin-bottom: 20px;
	  border: 5px solid #fff;
	  border-top: 5px solid #fff;
	  border-bottom: 3px solid #fff;
	  border-collapse: collapse; 
	  outline: 3px solid black;
	  font-size: 15px;
	  background: #fff!important;
  }
  table th {
	  font-weight: bold;
	  padding: 7px;
	  color: white;
	  background: black;
	  border: none;
	  text-align: left;
	  font-size: 15px;
	  border-top: 3px solid #fff;
	  border-bottom: 3px solid black;
  }
  table td {
	  padding: 7px;
	  border: none;
	  border-top: 3px solid #fff;
	  border-bottom: 3px solid #fff;
	  font-size: 15px;
  }
  table tbody tr:nth-child(even){
	  background: #f8f8f8!important;
  }